.button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-blue);
  color: var(--color-white);

  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-lg);
  line-height: var(--line-height-md);
}

.cancel {
  color: var(--color-gray);
  background-color: var(--color-cancel);
  
}

.button:disabled {
  opacity: 0.3;
  background-color: #f0f2f5;
  color: #101828;
}
